body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: #cfe5d7; /* Puedes ajustar el código de color según tu preferencia */
}

h1 {
    text-align: center;
}

button {
    margin: 5px;
    padding: 10px;
    font-size: 14px;
    background-color: #81c784; /* Puedes ajustar el código de color según tu preferencia */
    color: #fff; /* Texto en color blanco para contrastar */
}

#cocktails {
    display: none;
    margin-top: 20px;
}

#cocktailContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cocktail {
    width: calc(25% - 20px);
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
    background-color: #fff; /* Fondo blanco para las tarjetas de cócteles */
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera para resaltar */
}

.cocktail img {
    max-width: 100%;
    border-radius: 8px;
}

.cocktail .drinkName {
    margin-top: 5px;
    font-size: 12px;
}

#totalCocktails, #clearBtn {
    margin-top: 10px;
}
